{{define "css"}}
<title>权限管理</title>
{{end}}

{{define "content"}}
<form class="Huiform" action="/admin/permission/list" method="get" id="form1">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
			<input type="text" class="input-text" style="width:250px" placeholder="权限名称" id="" name="">
			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜权限节点</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		   <a href="/admin/permission/del" class="btn btn-danger radius del btndel"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		   <a href="javascript:;" onclick="admin_permission_add('添加权限节点','/admin/permission/create/0','1000','710')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加权限节点</a>
		   <a class="btn ajax2"  href="/admin/permission/save">保存</a>
	    </span>
		<span class="r">共有数据：<strong>{{.Count}}</strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="7">权限节点</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
                <th width="8%">图标</th>
                <th align="left">标题</th>
                <th width="8%">显示</th>
                <th width="8%">系统默认</th>
                <th align="left" width="65">排序</th>
                <th width="12%">操作</th>
			</tr>
		</thead>
		<tbody>
		{{range $key,$value:=.Data}}
			<tr class="text-c va-m">
				<td align="center">
						<span class="checkall" style="vertical-align:middle;">
							<input  {{if $value.IsSys}}disabled="disabled"{{end}} name="id[]" type="checkbox" value="{{$value.Id}}">
						</span>
				</td>
				<td></td>
				<td class="text-l">{{$value.TitleHtml}}{{if ne $value.NodeTitles ""}}&nbsp;&nbsp;&nbsp;&nbsp;【{{$value.NodeTitles}}】{{end}}</td>
				<td align="center">{{if $value.IsShow}}√{{else}}x{{end}}</td>
				<td align="center">{{if $value.IsSys}}√{{else}}x{{end}}</td>
				<td>
					<input type="hidden" name="data[sort][]" value="{{$value.Id}}">
					<input class="input sort" name="data[{{$value.Id}}][sort]" type="text" value="{{$value.Sort}}">
				</td>
				<td align="center">
					<a href="/admin/permission/create/{{$value.Id}}">添加子菜单</a>
					<a title="编辑" href="javascript:;" onclick="admin_permission_edit('权限编辑','/admin/permission/edit','{{$value.Id}}','1000','800')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="删除" href="javascript:;" onclick="admin_permission_del(this,'{{$value.Id}}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		{{end}}
		</tbody>
	</table>
</div>
</form>
{{end}}
{{define "js"}}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/public/background/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function admin_permission_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-权限-编辑*/
function admin_permission_edit(title,url,id,w,h){
	layer_show(title,url+"/"+id,w,h);
}

/*管理员-权限-删除*/
function admin_permission_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/permission/del',
            data:{id:id},
			dataType: 'json',
            success: function(response){
                if(response.status == 200){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    setTimeout(function () {
                        layer.msg(response.info);
                        window.location.href = response.url;
                    }, 2000);
                }
            },
            error:function(data) {
                console.log(data.info);
            },
		});		
	});
}
</script>
{{end}}