<meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>{{.Title}}</title>
<link media="all" type="text/css" rel="stylesheet" href="/public/home/skin/style.css">
<link media="all" type="text/css" rel="stylesheet" href="/public/home/script/layui/css/layui.css">
<script src="/public/home/script/jquery/jquery-3.1.1.min.js"></script>
<script src="/public/home/script/layer/layer.js"></script>
<script src="/public/home/script/layui/layui.js"></script>
<script src="/public/home/script/validform_v5.3.2/Validform_v5.3.2.js"></script>
<script src="/public/home/script/webuploader/webuploader.min.js"></script>
<script src="/public/home/script/common.js"></script>
<script src="/public/home/js/uploader.js"></script>
<script src="/public/home/js/laymain.js"></script>
<script src="/public/home/script/wangEditor-3.1.1/release/wangEditor.min.js"></script>