{{define "css"}}
<title>修改文章 - 资讯管理</title>
<link media="all" type="text/css" rel="stylesheet" href="/public/home/skin/style.css">
<link media="all" type="text/css" rel="stylesheet" href="/public/home/script/layui/css/layui.css">
{{end}}

{{define "content"}}
<article class="page-container">
    <form action="/admin/article/edit/{{.Data.Id}}" method="post" class="form form-horizontal" id="form1">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.Data.Title}}" placeholder="" id="articletitle" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="cate_id" class="select">
				{{range $key,$val:=.Category}}
                    <option value="{{$val.Id}}" {{if eq $val.Id $.Data.CateId}} selected {{end}}>{{$val.TitleHtml}}</option>
				{{end}}
                </select>
				</span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="type" class="select">
					<option value="0">全部类型</option>
                    {{range $key,$val:=.ArticleType}}
					<option value="{{$key}}" {{if eq $.Data.Type $key}} selected {{end}}>{{$val}}</option>
					{{end}}
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章作者：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="author_id" class="select">
					<option value="0">全部类型</option>
                {{range $key,$val:=.ArticleAuthor}}
                    <option value="{{$key}}" {{if eq $.Data.AuthorId $key}} selected {{end}}>{{$val}}</option>
                {{end}}
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.Data.Sort}}" placeholder="" id="articlesort" name="sort">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.Data.Keywords}}" placeholder="" id="keywords" name="keywords">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章摘要：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="intro" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,200)">{{.Data.Intro}}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章来源：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.Data.Source}}" placeholder="" id="sources" name="source">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">允许评论：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" id="allowcomments" name="is_comment" value="1">
                    <label for="checkbox-pinglun">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">评论开始日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'commentdatemax\')||\'%y-%M-%d\'}' })" id="commentdatemin" name="start_time" class="input-text Wdate" value="{{.Data.StartTime}}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">评论结束日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'commentdatemin\')}' })" id="commentdatemax" name="end_time" class="input-text Wdate" value="{{.Data.EndTime}}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">使用独立模版：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" id="checkbox-moban">
                    <label for="checkbox-moban">&nbsp;</label>
                </div>
                <button type="button" onClick="mobanxuanze()" class="btn btn-default radius ml-10">选择模版</button>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <input class="input normal upload-path" name="img" type="text" value="{{.Data.Img}}" id="templateUrl">
                    <div class="upload-box upload-image"></div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
               <textarea id="editor" name="content" type="text/plain" style="width:100%;height:400px;">{{.Data.Content}}</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius sure" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
                <button class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
                <button class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{{end}}
{{define "js"}}
{{include "layouts/lib_validation"}}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        var ue = UE.getEditor('editor');
    });
    $(function () {
        $('#form1').initValidform();
        $(".upload-image").each(function () {
            $(this).InitUploader({sendurl: "/admin/upload/image", swf: "/public/home/script/webuploader/uploader.swf" });
        });
    })
    function mobanxuanze() {
        $.ajax({
            type: 'GET',
            url: "/admin/article/template",
            data: {},
            dataType:"html",
            success: function (data) {
                var index = layer.alert(data,function () {
                    $("#templateUrl").attr("value",getBlogData("image_url"));
                    layer.close(index);
                });
                layer.style(index, {
                    width: '850px',
                    height:'500px',
                    top: '20%',
                    left: '20%',
                });
            }
        });
        return false;
    }
</script>
{{end}}