{{define "css"}}
<title>添加视频</title>
<link media="all" type="text/css" rel="stylesheet" href="/public/home/skin/style.css">
<link media="all" type="text/css" rel="stylesheet" href="/public/home/script/layui/css/layui.css">
{{end}}

{{define "content"}}
<form method="POST" action="/admin/video/edit/{{.Data.Id}}" accept-charset="UTF-8" id="form1">
    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
        <a href="/admin/center" class="home"><i></i><span>首页</span></a>
        <i class="arrow"></i>
        <a href="/admin/video/list"><span>视频列表</span></a>
        <i class="arrow"></i>
        <span>视频修改</span>
    </div>
    <div class="line10"></div>
    <!--/导航栏-->

    <!--内容-->
    <div id="floatHead" class="content-tab-wrap">
        <div class="content-tab">
            <div class="content-tab-ul-wrap">
                <ul>
                    <li><a class="selected" href="javascript:;">编辑视频信息</a></li>
                    <li><a href="javascript:;">详细信息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <dl>
            <dt>名称</dt>
            <dd>
                <input class="input normal" datatype="*" value="{{.Data.Title}}" name="title" type="text">
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
        <dl>
            <dt>视频地址</dt>
            <dd>
                <input class="input normal upload-path" value="{{.Data.Url}}" name="url" type="text">
                <div class="upload-box upload-video"></div>
            </dd>
        </dl>
        <dl>
            <dt>封面地址</dt>
            <dd>
                <input class="input normal upload-path" value="{{.Data.ImgUrl}}" name="img_url" type="text">
                <div class="upload-box upload-image"></div>
            </dd>
        </dl>
        <dl>
            <dt>备注</dt>
            <dd>
                <input class="input normal" datatype="*" value="{{.Data.Remark}}"  name="remark">
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
    </div>
    <div class="tab-content" style="display: none">
        <dl>
            <dt>详细内容</dt>
            <dd>
                <div id="content-editor">
                </div>
                <textarea id="content" name="content" style="display: none"></textarea>
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
    </div>
    <!--/内容-->
    <!--工具栏-->
    <div class="page-footer">
        <div class="btn-wrap">
            <input class="btn sure" type="submit" value="提交保存">

        </div>
    </div>
    <!--/工具栏-->
</form>

{{end}}

{{define "js"}}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
    $(".upload-video").each(function () {
        $(this).InitUploader({sendurl: "/admin/upload/video", swf: "/public/home/script/webuploader/uploader.swf" });
    });

    $(".upload-image").each(function () {
        $(this).InitUploader({sendurl: "/admin/upload/image", swf: "/public/home/script/webuploader/uploader.swf" });
    });
    //文本编辑器
    var E = window.wangEditor;
    var editor = new E('#content-editor');
    var $text1 = $('#content');
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $text1.val(html)
    };
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = '/admin/upload/wang_editor/image';
    editor.customConfig.uploadFileName = 'Filedata';
    editor.create();
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
{{end}}