<script type="text/javascript" src="/public/background/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/public/background/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/public/background/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/public/background/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/public/background/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="/public/background/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/public/background/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/public/background/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<!--检索-->
<script type="text/javascript" src="/public/background/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/public/background/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/background/lib/laypage/1.2/laypage.js"></script>
<!--图表-->
<script type="text/javascript" src="/public/background/lib/hcharts/Highcharts/5.0.6/js/highcharts.js"></script>
<script type="text/javascript" src="/public/background/lib/hcharts/Highcharts/5.0.6/js/modules/exporting.js"></script>
<script type="text/javascript" src="/public/background/lib/hcharts/Highcharts/5.0.6/js/highcharts-3d.js"></script>