<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/public/background/favicon.ico" >
<link rel="Shortcut Icon" href="/public/background/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/public/background/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/public/background/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/public/background/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/public/background/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/public/background/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="/public/background/style/css/page.css" />