{{define "css"}}
<title>修改图片</title>
<link media="all" type="text/css" rel="stylesheet" href="/public/home/skin/style.css">
<link media="all" type="text/css" rel="stylesheet" href="/public/home/script/layui/css/layui.css">
{{end}}

{{define "content"}}

<div class="page-container">
    <form method="post" class="form form-horizontal" action="/admin/picture/edit/{{.Data.Id}}" id="form1">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.Data.Title}}" placeholder="" id="" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="cate_id" class="select">
                {{range $key,$val:=.Category}}
                    <option value="{{$val.Id}}" {{if eq $val.Id $.Data.CateId }}selected{{end}}>{{$val.TitleHtml}}</option>
                {{end}}
                </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发布日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" name="start_time" value="{{.Data.StartTime}}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>结束日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')}' })" id="datemax" class="input-text Wdate" name="end_time" value="{{.Data.EndTime}}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片作者：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="author_id" class="select">
					<option value="0">全部作者</option>
                {{range $key,$val:=.ArticleAuthor}}
                    <option value="{{$key}}" {{if eq $key $.Data.AuthorId}}selected{{end}}>{{$val}}</option>
                {{end}}
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图片来源：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.Data.Source}}" placeholder="" id="" name="source">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.Data.Keywords}}" placeholder="" id="" name="keywords">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图片摘要：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="intro" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,200)">{{.Data.Intro}}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.Data.Sort}}" placeholder="" id="" name="sort">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">允许评论：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" id="checkbox-1" name="is_comment" {{if eq .Data.IsComment true}}checked{{end}}>
                    <label for="checkbox-1">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <input class="input normal upload-path" name="img" type="text" value="{{.Data.Img}}">
                    <div class="upload-box upload-image"></div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图片上传：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-list-container">
                    <div class="upload-box upload-album"></div>
                    <div class="images-list">
                        <ul>
                        {{if ne .Data.Images ""}}
                        {{range $key,$val:=.Images}}
                            <li>
                                <input type="hidden" class="path" name="images_list[]" value="{{$val}}" />
                                <div class="img-box" onclick="setFocusImg(this);">
                                    <img src="{{$val}}" bigsrc="{{$val}}" />
                                </div>
                                <a href="javascript:;" onclick="delImg(this);">删除</a>
                            </li>
                        {{end}}
                        {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius sure" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
                <button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>


<!--_footer 作为公共模版分离出去-->
{{end}}
{{define "js"}}

<!--请在下方写此页面业务相关的脚本-->
{{include "layouts/lib_validation"}}
<script type="text/javascript">
    function article_save(){
        alert("刷新父级的时候会自动关闭弹层。")
        window.parent.location.reload();
    }
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        //图片上传
        $(".upload-image").each(function () {
            $(this).InitUploader({sendurl: "/admin/upload/image", swf: "/public/home/script/webuploader/uploader.swf" });
        });
        //多图上传
        $(".upload-album").InitUploader({ btntext: "批量上传", multiple: true, sendurl: "/admin/upload/image", swf: "/public/home/script/webuploader/uploader.swf"});
    })
</script>
{{end}}