{{define "css"}}
<title>图片展示</title>
<link href="/public/background/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >
{{end}}

{{define "content"}}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 图片管理 <span class="c-gray en">&gt;</span> 图片展示 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="edit()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6df;</i> 编辑</a>
			<a href="/admin/picture/show/del" class="btn btn-danger radius del imgdel"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		</span>
		<span class="r">共有数据：<strong>{{.Count}}</strong> 条</span>
	</div>
    <form action="" id="form1">
	   <div class="portfolio-content">
		<ul class="cl portfolio-area">
			{{range $key,$val:=.Data}}
				<li class="item">
					<div class="portfoliobox">
						<span class="checkall" style="vertical-align:middle;">
						   <input  name="id[]" type="checkbox" value="{{$val.Id}}" image="{{$val.Image}}">
						</span>
						<div class="picbox"><a href="{{$val.Image}}" data-lightbox="gallery" data-title="{{$val.Title}}"><img src="{{$val.Image}}"></a></div>
						<div class="textbox">{{$val.Title}} </div>
					</div>
				</li>
            {{end}}
		</ul>
	</div>
    </form>
</div>
{{end}}
{{define "js"}}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/public/background/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript">
$(function(){
	$(".portfolio-area li").Huihover();
});
$('.imgdel').click(function () {
    //获取自定义元素
    obj = document.getElementsByName("id[]");
    var check_val = [];
    var ids=[];
    for(k in obj){
        if(obj[k].checked){
            ids.push(obj[k].value);
            check_val.push(obj[k].getAttribute('image'));
        }
    }
    if ($(".checkall input:checked").length < 1) {
        layer.msg('对不起，请选中您要操作的记录！');
        return false;
    }
    var msg = "删除记录后不可恢复，您确定吗？";
    if (arguments.length == 2) {
        msg = objmsg;
    }
    var obj = this;
    parent.layer.confirm(msg, {
        btn: ['確定', '取消'] //按钮
    }, function () {
        var url =$('.imgdel').attr("href");
        $.post(url,{ids:ids,images:check_val},function (data) {
            if(data.status==201){
                layer.msg(data.info);
                return
            }
            if(data.status==200){
                parent.layer.msg(data.info,{icon:1,time:2000},function () {
                    parent.location.reload();// 刷新父窗口
                    layer_close();
                });
                return
            }
            if (data.url!=undefined) {
                setTimeout(function () {
                    window.location.href = data.url
                }, 2000);
            }
        });
        parent.layer.close(this);
    });
    return false;
});
</script>
{{end}}