{{define "css"}}
<title>语言管理--修改</title>
<link media="all" type="text/css" rel="stylesheet" href="/public/home/skin/style.css">
<link media="all" type="text/css" rel="stylesheet" href="/public/home/script/layui/css/layui.css">
{{end}}

{{define "content"}}
<form method="POST" action="/admin/lang/edit/{{.Info.Id}}" accept-charset="UTF-8" id="form1">
    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
        <a href="/admin/center" class="home"><i></i><span>首页</span></a>
        <i class="arrow"></i>
        <a href="/admin/lang/list"><span>语言管理</span></a>
        <i class="arrow"></i>
        <span>语言修改</span>
    </div>
    <div class="line10"></div>
    <!--/导航栏-->

    <!--内容-->
    <div id="floatHead" class="content-tab-wrap">
        <div class="content-tab">
            <div class="content-tab-ul-wrap">
                <ul>
                    <li><a class="selected" href="javascript:;">修改语言信息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <dl>
            <dt>调用标识</dt>
            <dd>
                <input class="input normal" datatype="*" value="{{.Info.Mark}}" name="mark" type="text">
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
        <dl>
            <dt>调用说明</dt>
            <dd>
                <input class="input normal" datatype="*" value="{{.Info.Remark}}" name="remark" type="text">
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
        {{range $key,$val:=.Data}}
            <dl>
                <dt>{{$val.BlogLangNations.Title}}</dt>
                <dd>
                    <input class="input normal" datatype="*" name="nations[]" value="{{$val.BlogLangs.Title}}" type="text">
                    <input class="input normal" datatype="*" name="id[]" value="{{$val.BlogLangNations.Id}}" type="hidden">
                    <span class="Validform_checktip">*</span>
                </dd>
            </dl>
        {{end}}
    </div>
    <!--/内容-->
    <!--工具栏-->
    <div class="page-footer">
        <div class="btn-wrap">
            <input class="btn" type="submit" value="提交保存">

        </div>
    </div>
    <!--/工具栏-->
</form>
{{end}}

{{define "js"}}
<script type="text/javascript">
    $(function () {
        $('#form1').initValidform();
    })
</script>

{{end}}