{{define "css"}}
<title>图片内容列表</title>
{{end}}

{{define "content"}}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 图片内容管理 <span class="c-gray en">&gt;</span> 图片内容列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form action="/admin/banner/list" method="get" id="form1">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
         <span class="select-box inline">
            </span> 日期范围：
            <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}',dateFmt: 'yyyy-MM-dd' })" name="start_time" id="logmin" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',dateFmt: 'yyyy-MM-dd' })" name="end_time" id="logmax" class="input-text Wdate" style="width:120px;">
            <input type="text" name="keywords" value="{{.Keywords}}" placeholder="时光名称" style="width:250px" class="input-text">
            <button  class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜时光</button>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                 <a href="/admin/banner/del" class="btn btn-danger radius del btndel"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                <a class="btn btn-primary radius" data-title="添加图片内容" data-href="/admin/banner/create" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加图片内容</a>
            </span>
            <span class="r">共有数据：<strong>{{.Num}}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
                <thead>
                    <tr class="text-c">
                        <th width="3%"><input type="checkbox" name="" value=""></th>
                        <th width="3%">ID</th>
                        <th width="5%">类别</th>
                        <th width="10%">标题</th>
                        <th width="35%">简介</th>
                        <th width="10%">链接</th>
                        <th width="5%">图片</th>
                        <th width="5%">排序</th>
                        <th width="10%">创建时间</th>
                        <th width="10%">操作</th>
                    </tr>
                </thead>
                <tbody>
                {{range $key,$val:=.Data}}
                    <tr class="text-c">
                        <td align="center">
                            <span class="checkall" style="vertical-align:middle;">
                               <input  name="id[]" type="checkbox" value="{{$val.Banner.Id}}">
                            </span>
                        </td>
                        <td>{{$val.Banner.Id}}</td>
                        <td>{{$val.BannerCategory.Title}}</td>
                        <td>{{$val.Banner.Title}}</td>
                        <td>{{call $.Html $val.Banner.Intro}}</td>
                        <td>{{$val.Banner.Url}}</td>
                        <td><img src="{{$val.Banner.Image}}" alt="" height="50px"></td>
                        <td>{{$val.Banner.Sort}}</td>
                        <td>{{call $.TimeInit $val.Banner.CreatedAt}}</td>
                        <td class="f-14 td-manage">
                            <a style="text-decoration:none" class="ml-5" onClick="article_edit('图片内容编辑','/admin/banner/edit',{{$val.Banner.Id}})" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                            <a style="text-decoration:none" class="ml-5" onClick="article_del(this,{{$val.Banner.Id}})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                  {{end}}
                </tbody>
            </table>
        </div>
    </form>
</div>
{{end}}
{{define "js"}}
{{include "layouts/lib_validation"}}
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "pading":false,
        "aoColumnDefs": [
            {"orderable":false,"aTargets":[3]}// 不参与排序的列
        ]
    });

    /*图片内容-添加*/
    function article_add(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*图片内容-编辑*/
    function article_edit(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url+"/"+id
        });
        layer.full(index);
    }
</script>
{{end}}