{{define "css"}}
<title>用户查看</title>
{{end}}

{{define "content"}}

<div class="cl pd-20" style=" background-color:#5bacb6">
	<img class="avatar size-XL l" src="{{.Data.HeadImg}}">
	<dl style="margin-left:80px; color:#fff">
		<dt>
			<span class="f-18">{{.Data.Name}}</span>
			<span class="pl-10 f-12">余额：0</span>
		</dt>
		<dd class="pt-10 f-12" style="margin-left:0">这家伙很懒，什么也没有留下</dd>
	</dl>
</div>
<div class="pd-20">
	<table class="table">
		<tbody>
			<tr>
				<th class="text-r" width="80">性别：</th>
				<td>{{if eq .Data.Sex 1}}男{{else if eq .Data.Sex 2}}女{{else}}保密{{end}}</td>
			</tr>
			<tr>
				<th class="text-r">手机：</th>
				<td>{{.Data.Phone}}</td>
			</tr>
			<tr>
				<th class="text-r">邮箱：</th>
				<td>{{.Data.Email}}</td>
			</tr>
			<tr>
				<th class="text-r">地址：</th>
				<td>{{.Data.City}}</td>
			</tr>
			<tr>
				<th class="text-r">注册时间：</th>
				<td>{{.Data.CreatedAt}}</td>
			</tr>
			<tr>
				<th class="text-r">积分：</th>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
{{end}}
{{define "js"}}
<!--/_footer 作为公共模版分离出去-->
<script type="text/javascript">
    $(function(){

    });
</script>
<!--请在下方写此页面业务相关的脚本-->
{{end}}